<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/about.css">
</head>
<body>
    {{>navbar}}
    <div class="outerDiv">
        <div class="leftDiv">
            <img src="../../public/images/photo-1499750310107-5fef28a66643.avif" alt="error" class="img">
        </div>
        <div class="rightDiv">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, tempore.</h4>
            <div class="btnctn">

            <a href="https://www.linkedin.com/in/shray-gupta-672a92224/" target="_blank"><button class="btn">About Me</button></a>
            </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>