<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/home.css">
</head>
<body>
    {{>navbar}}
    <div class="main">
    <div class="leftDiv">
    <h1 class="heading">This is home page </h1>
    <a href="/weather"><button class="btn">Check now </button></a>
    </div>
    <div class="rightDiv">
        <img src="../../public/images/photo-1519389950473-47ba0277781c.avif" alt="error" class="img">
    </div>
    </div>

    {{>footer}}
    
</body>
</html>