.outerDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.rightDiv{
    height: 85vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.leftDiv{
    height: 85vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    height: 30px;
    border-radius: 30px;
    width: 70px;
    cursor: pointer;
    margin-top: 10px;
}
.btnctn{
    display: flex;
    /* border: 1px solid red; */
    width: 500px;
}

.img{
    height: 400px;
    width: 400px;
}